@model CoreRepoExample_22_02_22.Models.EntityVM

@{
    ViewData["Title"] = "Kurs Detay";
}

<div>
    <h4>Kurs Detayı</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courses.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courses.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teachers.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courses.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courses.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses.Aktif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courses.Aktif)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="KursListe" class="btn btn-primary">Listeye Dön</a>
</div>
